body{
    font-family: "Inter", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#divikryesor1{
    max-width: 100%;
    width:100%;
    height:100%;
    margin:auto;
}
#divikryesor2{
    max-width:100%;
    width:100%;
    height: 24%;
}
#div2{
    max-width:100%;
    width: 100%;
    background: #0084FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
}
.buttons p{
    margin-left:1px
}
.emri{
    padding:20px;
    display: flex;
    
}
#lightning{
    transform: rotate(21deg);
    margin: 8% 0% 0% 38%;
    position: absolute;
    z-index: -1;
    width: 18%;
}
#p6{
    font-size: 300%;
    position: absolute;
    z-index: 1;
    margin: 10% 0% 0% 13%;
}
#p7{
    font-size: 350%;
    position: absolute;
    z-index: 1;
    margin: 14% 0% 0% 13%;
}
#p8{
    font-size: 130%;
    position: absolute;
    z-index: 1;
    margin: 20% 0% 0% 13%;
}
#logos{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 32%;
    margin-left: 12%;
}
#logos i{
    font-size: 80px;
    color:yellow;
}

@media(max-width:767px){
    .buttons{
        flex-direction: column;
        margin: auto;
    }
    
}